body {
  margin: 0;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.company-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #000;
  color: #fff;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
}

.company-header {
  display: flex;
  align-items: center;
}

.company-gear {
  font-size: 2rem;
  color: #fff;
}


.company-acronym {
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

.company-complete-name {
  font-size: 0.75rem;
  color: #ddd;
  margin: 0;
}

.forms {
  margin-top: 120px;
  padding: 20px;
}
