



$color-primary: #4ade80;
$color-secondary: #22d3ee;
$color-dark: #000000;
$color-light: #ffffff;
$gradient-primary: linear-gradient(90deg, $color-primary, $color-secondary);
$color-success: #61d095;
$color-warning: #facc15;
$color-error: #ef4444;
